.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/pubspec.lock
**/doc/api/
*.iml
*.ipr
*.iws
.idea/
android/local.properties
android/.gradle/
android/gradlew
android/gradlew.bat
android/app/debug
android/app/profile
android/app/release
